In [46]:
import numpy as np
import pandas as pd
from os import system

In [7]:
data = np.genfromtxt('coord_test.txt', delimiter=',')

In [8]:
data

array([[180.,  50.,  20.],
       [180.,  50.,  30.],
       [180.,  40.,  20.],
       [180.,  40.,  30.]])

In [9]:
data.shape

(4, 3)

In [18]:
df = pd.read_csv('coord_test.txt')

In [19]:
df.head()

     X   Y   Z
0  180  50  20
1  180  50  30
2  180  40  20
3  180  40  30

In [55]:
def my_func(pos):
    print("{}, {}, {}".format(pos['X'], pos['Y'], pos['Z']), end='\r')
    input("Press any key you want")
    system('cls')

In [56]:
x = df.apply(my_func,1)

Press any key you want
Press any key you want
Press any key you want
Press any key you want

In [41]:
type(x)

pandas.core.series.Series

In [42]:
x

0    None
1    None
2    None
3    None
dtype: object